<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="detailIsVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200">
  <ng-template #modalTitle>
    材料详情
  </ng-template>

  <ng-template #modalContent>
    <table class="modalTbale" *ngIf="drugmaterial">
      <tr>
        <th>材料名称</th>
        <td>{{drugmaterial.name}}</td>
        <th>材料编码</th>
        <td>{{drugmaterial.code}}</td>
        <th>批准文号</th>
        <td>{{drugmaterial.licensenumber}}</td>
      </tr>
      <tr>
        <th>规格</th>
        <td>{{drugmaterial.specifications}}</td>
        <th>单位</th>
        <td>{{drugmaterial.unit}}</td>
        <th>费用科目</th>
        <td>{{drugmaterial.expenseaccount}}</td>
      </tr>
      <tr>
        <th>生产厂商</th>
        <td>{{drugmaterial.manufacturername}}</td>
        <th>产地</th>
        <td>{{drugmaterial.originplace}}</td>
        <th>拼音码</th>
        <td>{{drugmaterial.pinyincode}}</td>
      </tr>
      <tr>
        <th>状态</th>
        <td colspan="5">{{drugmaterial.status === '0'?'无效':'有效'}}</td>
      </tr>
    </table>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleCancel(false)">关闭</button>
  </ng-template>
</nz-modal>