<div class="childrenContainer">
  <form nz-form [nzLayout]="'inline'" [formGroup]="conditionForm">
    <nz-form-item>
      <nz-form-label>入库日期</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="starttime"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <span class="formDateCenterSpan">至</span>
    <nz-form-item>
      <nz-form-control>
        <nz-date-picker formControlName="endtime"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>供货商</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 177px;" formControlName="sid" nzShowSearch>
          <nz-option nzLabel="全部" nzValue=""></nz-option>
          <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of supplierList"></nz-option>
        </nz-select>
        <!-- <input nz-input type="text" formControlName="ghs"> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>状态</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 177px;" formControlName="godownstate">
          <nz-option nzValue="" nzLabel="全部"></nz-option>
          <nz-option nzValue="0" nzLabel="提交"></nz-option>
          <nz-option nzValue="1" nzLabel="未审核"></nz-option>
          <nz-option nzValue="2" nzLabel="已审核"></nz-option>
          <nz-option nzValue="3" nzLabel="已驳回"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button class="blueDefaultBtn" nz-button nzType="default" (click)="getMaterialList()">查询</button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="float:right">
      <nz-form-control>
        <button type="button" nz-button nzType="primary" (click)="showAddModal()"><i nz-icon type="plus-circle"
            theme="fill"></i>新入库</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-table nzSize="middle" [nzData]="dataSet" nzBordered [nzShowPagination]="false" [nzScroll]>
    <thead>
      <tr>
        <th style="width:8em;">单据号</th>
        <th style="width:8em;">入库日期</th>
        <th style="width:8em;">供货商</th>
        <th style="width:8em;">入库种类</th>
        <th style="width:8em;">中标金额</th>
        <th style="width:8em;">零售金额</th>
        <th style="width:8em;">入库人</th>
        <th style="width:8em;">状态</th>
        <th style="width:8em;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSet">
        <td>{{data.billno}}</td>
        <td>{{data.godowntime}}</td>
        <td>{{data.suppliername}}</td>
        <td>
          {{data.godowntype == '0' ? '未知' : data.godowntype == '1' ? '采购入库' : data.godowntype == '2' ? '新增入库' : '第三方入库'}}
        </td>
        <td>{{data.bidtotal}}</td>
        <td>{{data.retailtotal}}</td>
        <td>{{data.originatorname}}</td>
        <td>
          <div *ngIf="data.godownstate == '0'" class="status gray">
            已提交
          </div>
          <div *ngIf="data.godownstate == '1'" class="status gray">
            未审核
          </div>
          <div *ngIf="data.godownstate == '2'" class="status blue">
            已审核
          </div>
          <div *ngIf="data.godownstate == '3'" class="status orange" nzTitle="驳回原因: 不通过" nzPlacement="right" nz-tooltip>
            已驳回</div>
        </td>
        <td>
          <a (click)="showAddModal(data)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="showDetailModal(data)">查看</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-material-in-add-modal [supplierList]="supplierList" [materialIn]="materialIn" [addIsVisible]="addIsVisible"
    (closeAddModal)="closeAddModal($event)">
  </app-material-in-add-modal>
  <app-material-in-detail-modal [materialIn]="materialIn" [detailIsVisible]="detailIsVisible"
    (closeDetailModal)="closeDetailModal($event)">
  </app-material-in-detail-modal>
  <app-page [page]="page" (changePage)="getMaterialList($event)"></app-page>
</div>