.materialOutOfStockModal nz-tabset {
  border: 1px solid #e4e4e4;
}
.materialOutOfStockModal ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  width: 170px;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  font-size: 12px;
  color: #2881d4;
  transition-duration: 0.1s;
  font-weight: bold;
}
.materialOutOfStockModal ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-tab-active {
  background-color: #2881d4;
  color: #fff;
}

.materialOutOfStockModal ::ng-deep .ant-tabs .ant-tabs-left-bar .ant-tabs-tab-disabled {
  cursor: context-menu;
  background-color: rgba(242, 242, 242, 1);
  color: #999;
}
.topButnGroup {
  margin: 12px 0;
}

.back {
  color: #f90;
}
