<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="addIsVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200">
  <ng-template #modalTitle>
    新建材料
  </ng-template>

  <ng-template #modalContent>
    <div class="materialAddDictionary">
      <div nz-row nzJustify="space-between" [nzGutter]="24" class="inline-form-row">
        <div nz-col nzSpan="6">
          <label>材料名称</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>材料编码</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>批准文号</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>规格</label>
          <div class="inlineFormGroup">
            <input nz-input>
          </div>
        </div>
      </div>
      <div nz-row nzJustify="space-between" [nzGutter]="24" class="inline-form-row">
        <div nz-col nzSpan="6">
          <label>单位</label>
          <div class="inlineFormGroup">
            <nz-select>
              <nz-option nz-label="" nz-value=""></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>费用科目</label>
          <div class="inlineFormGroup">
            <nz-select>
              <nz-option nz-label="" nz-value=""></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>生产厂商</label>
          <div class="inlineFormGroup">
            <nz-select>
              <nz-option nz-label="" nz-value=""></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>产地</label>
          <div class="inlineFormGroup">
            <input nz-input>
          </div>
        </div>
      </div>
      <div nz-row nzJustify="space-between" [nzGutter]="24" class="inline-form-row">
        <div nz-col nzSpan="6">
          <label>拼音码</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>状态</label>
          <div class="inlineFormGroup">
            <nz-radio-group>
              <label nz-radio nzValue="A">启用</label>
              <label nz-radio nzValue="B">不启用</label>
            </nz-radio-group>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="showConfirm(true)">保存</button>
    <button class="blueDefaultBtn" nz-button nzType="default" (click)="showConfirm(false)">取消</button>
  </ng-template>
</nz-modal>