::ng-deep .ant-modal-body .ant-table-wrapper {
  height: 350px;
}

.materialPriceAddModalContent ::ng-deep .ant-calendar-picker-input {
    width:286px;
}

.materialPriceAddModalContent ::ng-deep .ant-select {
    width:100%;
}
