<p class="title">
  中华人民共和国传染病报告卡
</p>
<div>
  <span>卡片编号</span> 201903030022 <span class="ml20">报卡类别</span> 初次报告
</div>
<div class="modalTitle">
  <div class="titleTab"></div>患者信息
</div>
<div>
  <table>
    <tr>
      <td><span>姓名</span>zay</td>
      <td><span>性别</span>男</td>
      <td><span>年龄</span>12</td>
      <td><span>联系电话</span>12233443333</td>
    </tr><tr>
      <td><span>患儿家长姓名</span>zz</td>
      <td><span>病人属于</span>11</td>
      <td colspan="2"><span>身份证号</span>11</td>
    </tr>
    <tr>
      <td><span>患儿家长姓名</span>zz</td>
      <td><span>病人属于</span>11</td>
      <td colspan="2"><span>身份证号</span>11</td>
    </tr>
  </table>
</div>