// :host {
//   display: none;
// }
* {
  font-size: 12px;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.titleTab {
  background: #2881d4;
  width: 4px;
  height: 1em;
  border-radius: 1rem;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 2px;
}
table {
  width: 100%;
  color: #333;
}
.baseTable tr td {
  text-align: left;
  width: 50%;
}

.detailTable {
  border-collapse: collapse;
}
.detailTable tr th {
  background-color: rgba(242, 242, 242, 1);
}
.detailTable tr th,
.detailTable tr td {
  border: 1px solid rgba(228, 228, 228, 1);
  text-align: left;
  padding: 8px 0 8px 10px;
  font-weight: 400;
}
.baseTable,
.detailTable,
.personTable {
  margin-top: 20px;
}
