.blueDefaultBtn {
  color: #2881d4;
  border: 1px solid #2881d4;
}
.orangePrimaryBtn {
  background: rgba(255, 153, 0, 1);
  border-color: rgba(255, 153, 0, 1);
  color: #fff;
}
form {
  margin-bottom: 0.8rem;
}

.formDateCenterSpan {
  line-height: 2.45rem;
  text-align: center;
  width: 1em;
  margin-right: 1em;
}
.inline-form-row {
  margin-bottom: 1rem;
  label {
    line-height: 1.9rem;
    height: 1.9rem;
    text-align: right;
    width: 5em;
    display: inline-block;
  }
  .inlineFormGroup {
    position: absolute;
    padding-left: 6.5em;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
}

.inValid,
.inValid ::ng-deep input,
.inValid ::ng-deep .ant-select-selection {
  border-color: #f5222d;
  outline: 0;
}
.inValid:focus,
.inValid:focus ::ng-deep input,
.inValid:focus ::ng-deep .ant-select-selection {
  border-color: #f5222d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
}
