.modalTitle {
  font-weight: bold;
  margin-bottom: 12px;
  .titleTab {
    background: #2881d4;
    width: 4px;
    height: 1em;
    border-radius: 1rem;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }
}
::ng-deep .ant-modal-header {
  border-bottom: none;
  padding: 12px 20px;
  .ant-modal-title {
    font-weight: bold;
  }
}
::ng-deep .ant-modal-body {
  padding: 0 24px 12px 24px;
}
.modalForm {
  padding: 5px 8px;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}
