nz-form-label {
  width: 6em;
}
.bold {
  font-weight: bold;
  span {
    color: #ff9900;
    font-size: 1.2rem;
  }
}

.materialCheckAddModal ::ng-deep .ant-modal-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.tableInputDiv {
  text-align: center;
  width: 100px;
  input {
    width: 100%;
  }
}

.materialCheckAddModal ::ng-deep .ant-modal-body .ant-table-wrapper {
  height: 300px;
}
