<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="addIsVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200"
  class="materialCheckAddModal">
  <ng-template #modalTitle>
    启动新盘点
  </ng-template>

  <ng-template #modalContent>
    <div>
      <div style="margin-bottom: 0.8rem;margin-top: 0.8rem;">
        <button type="button" nz-button nzType="primary" (click)="showAddModal()"><i nz-icon type="plus-circle"
            theme="fill"></i>导出</button>
        <label nz-checkbox style="margin-left:12px;">过滤零库存材料</label>
        <div style="float:right;text-align:right;">
          <span class="bold" style="margin-right: 3rem;">材料种类总数 <span>102</span></span>
          <span class="bold" style="margin-right: 3rem;">库存中标总额 <span>10222元</span></span>
          <span class="bold">库存零售总额 <span>10222元</span></span>
        </div>
      </div>
      <nz-table [nzNoResult]="" nzSize="middle" #basicTable [nzData]="dataSet" nzBordered [nzShowPagination]="false">
        <thead>
          <tr>
            <th>材料名称</th>
            <th>规格</th>
            <th>单位</th>
            <th>库存量</th>
            <th>实盘数</th>
            <th>数量差</th>
            <th>库存零售额</th>
            <th>实盘零售额</th>
            <th>库存中标额</th>
            <th>实盘中标额</th>
            <th>中标盈亏差</th>
            <th>零售盈亏差</th>
            <th>生产厂商</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <app-page [page]="page" (changePage)="getTableList()"></app-page>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="showConfirm(true)">确认</button>
    <button class="blueDefaultBtn" nz-button nzType="default" (click)="showConfirm(false)"
      [nzLoading]="isConfirmLoading">放弃盘点</button>
  </ng-template>
  <app-material-check-add-modal-confirm [checkIsVisible]="checkIsVisible" [isCheck]="isCheck"
    (closeConfirm)="closeConfirm()">
  </app-material-check-add-modal-confirm>
</nz-modal>