<nz-modal [(nzVisible)]="detailIsVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel(false)" nzWidth="1200">
  <ng-template #modalTitle>
    查看
  </ng-template>

  <ng-template #modalContent>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab nzTitle="传染病报告卡">
        <p class="title">
          中华人民共和国传染病报告卡
        </p>
        <div class="titledesc">
          <span>卡片编号</span> 201903030022 <span class="ml20">报卡类别</span> 初次报告
        </div>
        <div class="modalTitle">
          <div class="titleTab"></div>患者信息
        </div>
        <div>
          <table class="firstTable">
            <tr>
              <td><span>姓名</span>zay</td>
              <td><span>性别</span>男</td>
              <td><span>年龄</span>12</td>
              <td><span>联系电话</span>12233443333</td>
            </tr>
            <tr>
              <td><span>患儿家长姓名</span>zz</td>
              <td><span>病人属于</span>11</td>
              <td colspan="2"><span>身份证号</span>11</td>
            </tr>
            <tr>
              <td colspan="4"><span>工作单位</span>zz</td>
            </tr>
            <tr>
              <td colspan="4"><span>现住地址</span>张江苏省南京市雨花台区江怡路天隆坊2幢4单元101</td>
            </tr>
            <tr>
              <td colspan="4"><span>人群分类</span>散居儿童</td>
            </tr>

          </table>
        </div>
        <div class="modalTitle">
          <div class="titleTab"></div>疾病信息
        </div>
        <div>
          <table class="firstTable">
            <tr>
              <td><span>病例分类</span>(1)疑似病例 (2)急性</td>
            </tr>
            <tr>
              <td><span>传染病名称</span>乙肝，艾滋病，鼠疫</td>
            </tr>
            <tr>
              <td><span>发病日期</span>2017-10-11</td>
              <td><span>诊断时间</span>2017-10-11 12：22</td>
              <td colspan="2"><span>死亡日期</span>无</td>
            </tr>
          </table>
        </div>
        <div class="modalTitle">
          <div class="titleTab"></div>填报信息
        </div>
        <div>
          <table class="firstTable">
            <tr>
              <td><span>报告单位</span>张家村卫生所</td>
              <td><span>报告医生</span>男与非</td>
              <td><span>订正病名</span>无</td>
              <td><span>联系电话</span>189233222211</td>
            </tr>
            <tr>
              <td><span>退卡原因</span>无</td>
            </tr>
            <tr>
              <td colspan="4"><span>备注</span>张家村我是备注我是备注我是备注我是备注我是备注我是备注</td>
            </tr>
          </table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="乙肝附卡">
        <p class="title">
          传染病报告卡-乙肝附卡
        </p>
        <div>
          <table class="secondTable">
            <tr>
              <td><span>HBsAg阳性时间</span>>6个月</td>
              <td><span>首次出现乙肝症状和体征时间</span>>2019-10-11</td>
            </tr>
            <tr>
              <td><span>本次ALT</span>>122U/L</td>
              <td><span>抗-HBc IgM1</span>1000检测结果 未测</td>
            </tr>
            <tr>
              <td><span>肝穿刺检测结果</span>急性病变</td>
              <td><span>恢复期血清HBsAg阴转，抗-HBs阳转</span>是</td>
            </tr>
          </table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="艾滋病附卡">

        <p class="title">
          传染病报告卡-艾滋病及性病附卡
        </p>
        <div class="modalTitle">
          <div class="titleTab"></div>患者信息
        </div>
        <div>
          <table class="firstTable">
            <tr>
              <td><span>姓名</span>zay</td>
              <td><span>性别</span>男</td>
              <td><span>年龄</span>12</td>
              <td><span>身份证号</span>12233443333</td>
            </tr>
            <tr>
              <td><span>患儿家长姓名</span>zz</td>
              <td><span>民族</span>11</td>
              <td><span>婚姻状况</span>11</td>
              <td><span>文化程度</span>11</td>
            </tr>
            <tr>
              <td colspan="4"><span>户籍所在地</span>本市县</td>
            </tr>
            <tr>
              <td colspan="4"><span>户籍地址</span>张江苏省南京市雨花台区江怡路天隆坊2幢4单元101</td>
            </tr>
          </table>
        </div>
        <div class="modalTitle">
          <div class="titleTab"></div>疾病信息
        </div>
        <table class="thirdTable">
          <tr>
            <td colspan="4"><span>疾病名称</span>艾滋病病毒</td>
          </tr>
          <tr>
            <td colspan="4"><span>接触史</span>1.非婚异性性接触史(有12人与之发生过非婚性行为) (商业)2.配偶/固定性伴阳性</td>
          </tr>
          <tr>
            <td><span>性病史</span>无</td>
            <td><span>最可能感染途径</span>注射毒品</td>
            <td><span>检测样本来源</span>术前检测</td>
          </tr>
          <tr>
            <td><span>实验室检测结论</span>确认检测阳性</td>
            <td><span>确认(替代策略)检测阳性日期</span>2019-10-11</td>
            <td><span>确认(替代策略)检测阳性单位</span>某某某单位</td>
          </tr>
          <tr>
            <td colspan="4"><span>艾滋病确诊日期</span>2018-10-11</td>
          </tr>
          <tr>
            <td colspan="4"><span>备注</span>确认检测阳性</td>
          </tr>
        </table>
      </nz-tab>
    </nz-tabset>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>