<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="detailIsVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200">
  <ng-template #modalTitle>
    生产商详情
  </ng-template>

  <ng-template #modalContent>
    <table class="modalTbale" *ngIf="supplier">
      <tr>
        <th>企业名称</th>
        <td>{{supplier.name}}</td>
        <th>联系人</th>
        <td>{{supplier.contactpeople}}</td>
        <th>联系电话</th>
        <td>{{supplier.contactphone}}</td>
      </tr>
      <tr>
        <th>邮箱</th>
        <td>{{supplier.email}}</td>
        <th>传真</th>
        <td>{{supplier.fax}}</td>
        <th>企业地址</th>
        <td>{{supplier.companyaddr}}</td>
      </tr>
      <!-- <tr>
        <th>生产厂商</th>
        <td>{{supplier}}</td>
        <th>产地</th>
        <td>{{supplier}}</td>
        <th>拼音码</th>
        <td>{{supplier}}</td>
      </tr>-->
      <tr>
        <th>状态</th>
        <td colspan="5">{{supplier.state}}</td>
      </tr> 
    </table>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleCancel(false)">关闭</button>
  </ng-template>
</nz-modal>