.childrenContainer ::ng-deep .ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
.childrenContainer ::ng-deep .ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated {
  padding: 12px;
}
.childrenContainer ::ng-deep .ant-tabs-bar {
  padding-left: 1.6rem;
}
.fillin ::ng-deep table button {
  border: none;
  background: transparent;
  color: #2881d4;
  outline: 0;
}
