<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="detailIsVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200">
  <ng-template #modalTitle>
    出库详情
  </ng-template>

  <ng-template #modalContent>
    <div>
      <div class="modalTitle">
        <div class="titleTab"></div>基本信息
      </div>
      <table class="modalTbale">
        <tr>
          <th>单据号</th>
          <td></td>
          <th>科室</th>
          <td></td>
          <th>出库日期</th>
          <td></td>
        </tr>
        <tr>
          <th>出库目的</th>
          <td></td>
          <th>领取科室</th>
          <td></td>
          <th>领取人</th>
          <td></td>
        </tr>
      </table>
    </div>
    <div>
      <div class="modalTitle">
        <div class="titleTab"></div>材料明细
      </div>
      <div style="margin-bottom: 0.8rem;">
        <button type="button" nz-button nzType="primary">导出</button>
        <button type="button" nz-button nzType="primary"
          style="margin-left:12px;" (click)="print()">打印</button>
      </div>
      <nz-table [nzNoResult]="" nzSize="middle" [nzData]="dataSet" nzBordered [nzShowPagination]="false">
        <thead>
          <tr>
            <th>材料名称</th>
            <th>规格</th>
            <th>单位</th>
            <th>数量</th>
            <th>库存量</th>
            <th>可用库存量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSet">
            <td>
              {{data.fph}}
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button class="blueDefaultBtn" nz-button nzType="default" (click)="handleCancel()">关闭</button>
  </ng-template>
</nz-modal>