<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="addIsVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200">
  <ng-template #modalTitle>
    新入库
  </ng-template>

  <ng-template #modalContent>
    <div>
      <div class="modalTitle">
        <div class="titleTab"></div>基本信息
      </div>
      <div nz-row nzJustify="space-between" [nzGutter]="24" class="inline-form-row">
        <div nz-col nzSpan="6">
          <label>单据号</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true" disabled="disabled">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>科室</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true" disabled="disabled">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>入库日期</label>
          <div class="inlineFormGroup">
            <input nz-input [disabled]="true" disabled="disabled">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>入库类</label>
          <div class="inlineFormGroup">
            <input nz-input>
          </div>
        </div>
      </div>

      <div nz-row nzJustify="space-between" [nzGutter]="24" class="inline-form-row">
        <div nz-col nzSpan="6">
          <label>供货商</label>
          <div class="inlineFormGroup">
            <input nz-input>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <label>合计发票额</label>
          <div class="inlineFormGroup">
            <input nz-input>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <label>备注</label>
          <div class="inlineFormGroup">
            <input nz-input>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="modalTitle">
        <div class="titleTab"></div>材料明细
      </div>
      <div style="margin-bottom: 0.8rem;">
        <button type="button" nz-button nzType="primary" (click)="showAddModal()"><i nz-icon
            type="plus-circle" theme="fill"></i>新增</button>
      </div>
      <nz-table [nzNoResult]="" nzSize="middle" #basicTable [nzData]="dataSet" nzBordered [nzShowPagination]="false">
        <thead>
          <tr>
            <th>发票号</th>
            <th>发票额</th>
            <th>材料名称</th>
            <th>规格</th>
            <th>单位</th>
            <th>数量</th>
            <th>中标金额</th>
            <th>中标单价</th>
            <th>零售金额</th>
            <th>零售单价</th>
            <th>有效期</th>
            <th>生产批号</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td>

              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td>

              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>

              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td></td>
            <td>

              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td></td>
            <td>
              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td>
              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td>
              <div class="tableInputDiv">
                <input nz-input>
              </div>
            </td>
            <td>
              <a>删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <span class="bold" style="margin-right: 3rem;">中标金额合计 <span>8933元</span></span>
    <span class="bold" style="margin-right: 3rem;">中标金额合计 <span>8933元</span></span>
    <button nz-button nzType="primary" (click)="handleCancel()">确认</button>
    <button class="blueDefaultBtn" nz-button nzType="default" (click)="handleCancel()"
      [nzLoading]="isConfirmLoading">暂存</button>
    <button class="blueDefaultBtn" nz-button nzType="default" (click)="handleCancel()"
      [nzLoading]="isConfirmLoading">取消</button>
  </ng-template>
</nz-modal>