<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" nzWidth="1200"
  class="materialCheckAuditModal">
  <ng-template #modalTitle>
    盘点详情
  </ng-template>

  <ng-template #modalContent>
    <div>
      <div class="modalTitle">
        <div class="titleTab"></div>基本信息
      </div>
      <table class="modalTbale">
        <tr>
          <th>单据号</th>
          <td></td>
          <th>盘点科室</th>
          <td></td>
          <th>盘点人</th>
          <td></td>
        </tr>
        <tr>
          <th>盘点时间</th>
          <td colspan="5"></td>
        </tr>
      </table>
    </div>
    <div>
      <div class="modalTitle">
        <div class="titleTab"></div>材料明细
      </div>
      <div style="margin-bottom: 0.8rem;">
        <button type="button" nz-button nzType="primary">导出</button>
      </div>
      <nz-table [nzNoResult]="" nzSize="middle" [nzData]="dataSet" nzBordered [nzShowPagination]="false">
        <thead>
          <tr>
            <th>材料名称</th>
            <th>规格</th>
            <th>单位</th>
            <th>库存量</th>
            <th>实盘数</th>
            <th>数量差</th>
            <th>库存零售额</th>
            <th>实盘零售额</th>
            <th>库存中标额</th>
            <th>实盘中标额</th>
            <th>中标盈亏差</th>
            <th>零售盈亏差</th>
            <th>生产厂商</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="dataSet">
            <td>
              {{data.fph}}
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <app-page [page]="page" (changePage)="getTableList()"></app-page>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div *ngIf="isAudit">
      <button nz-button nzType="primary" (click)="pass()">通过</button>
      <button class="orangePrimaryBtn" nz-button nzType="default" (click)="back()">驳回</button>
      <button class="blueDefaultBtn" nz-button nzType="default" (click)="handleCancel()">取消</button>
    </div>
  </ng-template>

  <app-audit-confirm-modal [auditConfirmIsVisible]="auditConfirmIsVisible" [isPrint]="isPrint" [isPass]="isPass"
    [isBack]="isBack" (closeConfirm)="closeConfirm()">
  </app-audit-confirm-modal>
</nz-modal>